<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<bean class="com.datascience.context.SpringApplicationContext"></bean>
	<bean id = "userFetch" class = "com.datascience.user.UserFetchImpl"></bean>
	<bean id = "dataFetch" class = "com.datascience.data.DataFetchImpl"></bean>
</beans>